.header {
    height: 5rem;
    max-height: 4rem;
    width: 100%;
    gap: 10rem;
    padding: 0.5rem;
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom: 1px solid transparent; /* Set border to transparent to show gradient */
    background-clip: padding-box; /* To ensure the background gradient isn't clipped */
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    overflow: hidden;
  }
  
  .header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Height of the gradient border */
    background: linear-gradient(to right, 
      #c23030, /* text-red-500 */
      #bfdbfe, /* text-blue-200 */
      #86efac, /* text-green-400 */
      #facc15, /* text-yellow-400 */
      #fb923c /* text-orange-400 */
    );
    z-index: -1; /* Ensure the gradient stays behind the content */
  }
  

.lightning {
    position: absolute;
    height: 100%;
    width: 95%;
    background-color: #374151;
    filter: blur(10px);
    animation: lightningAnimation 10s linear forwards;
}
.refs{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes lightningAnimation {
    0% {
        left: 0;
        /* Start at the left end of the container */
        opacity: 1;
        /* Start with full opacity */
    }

    50% {
        left: 100%;
        /* Move to the right end of the container */
        opacity: 1;
        /* Maintain opacity */
    }

    100% {
        left: 100%;
        /* Stay at the right end of the container */
        opacity: 0;
        /* Fade out completely */
    }
}